@mixin navBar(){
	background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


@mixin sec-uno(){
	background-image: url(../img/hand.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    background-position-y: 260px;
    background-position-x: 500px;
    background-size: inherit;
}